<div id="about" class="section about">
  <h2>About Me</h2>

  <p>
    Full Stack Laravel Developer with over 3 years of expertise in designing and implementing custom software solutions. Proficient in both front-end and back-end development, with a strong foundation in system architecture, design patterns, and modern development frameworks. Committed to delivering high-quality, scalable, and secure code. Excellent communicator and team player, thriving in collaborative environments and dedicated to continuous learning and growth.
  </p>
</div>
