<div class="section professional-skills">
  <h2>Professional Skills</h2>
  <div class="skill">
    <span><strong>Programming Languages:</strong></span> PHP, TypeScript, C#, HTML5, CSS3, JavaScript
  </div>
  <div class="skill">
    <span><strong>Frameworks and Libraries:</strong></span> Laravel, Angular, Vue.js, Microsoft ASP.NET Web API, .NET 8, .NET Core 3.1, Entity Framework, LINQ, Microsoft Visual Studio 2022
  </div>
  <div class="skill">
    <span><strong>Laravel Specific Skills:</strong></span> Eloquent ORM, Middleware, Blade templating, Queues, Artisan CLI, PHPUnit, Laravel Dusk, Task Scheduling, Composer
  </div>
  <div class="skill">
    <span><strong>Database Management:</strong></span> Microsoft SQL Server, MySQL, MongoDB
  </div>
  <div class="skill">
    <span><strong>Web Technologies:</strong></span> jQuery, REST, Azure APIs, SEO, UI/UX Design
  </div>
  <div class="skill">
    <span><strong>Cloud Platforms:</strong></span> AWS, Azure
  </div>
  <div class="skill">
    <span><strong>Development Tools:</strong></span> Git, Docker, CI/CD pipeline management, JIRA, Office 365. API documentation (Postman)
  </div>
  <div class="skill">
    <span><strong>Testing and Quality Assurance:</strong></span> Selenium, Jest
  </div>
  <div class="skill">
    <span><strong>System Administration:</strong></span> Windows Server, Active Directory, DNS, DHCP
  </div>
  <div class="skill">
    <span><strong>Project Management:</strong></span> Requirements Collection & Analysis, Agile Methodologies
  </div>
</div>
