<nav>
  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#work-experience">Work Experience</a></li>
    <li><a href="#education">Education</a></li>
    <li><a href="#references">References</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

<div class="container">
  <header>
    <div class="header-content">
      <img src="assets/profile.jpg" alt="Profile Picture" class="profile-pic">
      <h1>Femi Adenekan</h1>
      <h2>Full Stack Laravel Developer</h2>
      <p>

        <strong> Ontario, CA (PR) | femi.adenekan@gmail.com | 226-218-0061</strong>
      </p>
      <div class="social-icons">
        <!-- Social media icons here -->
      </div>
    </div>
  </header>

  <app-socials id="socials"></app-socials>
  <app-about id="about"></app-about>

  <app-professional-skills id="skills"></app-professional-skills>
  <app-portfolio id="portfolio"></app-portfolio>
  <app-work-experience id="work-experience"></app-work-experience>
  <app-education id="education"></app-education>
  <app-references id="references"></app-references>
  <app-contact id="contact"></app-contact>
</div>
